@CHARSET "ISO-8859-1";

html { 
    min-width: 320px; 
    max-width: 1400px; 
}

#corpo{
	border-style: groove;
}

#titulo{
	font-family:arial;
	text-align: center;
	margin-top: 30px;
}

#conteiner{
	display: flex;
	flex-wrap: wrap;
	background-color: #f1f1f1;
	
}
#conteiner1{
	display: flex;
	flex-wrap: wrap;
	background-color: #f1f1f1;
	
}
#tabelaTipoContato, #tabelaTelefone, #tabelaEmail{
	margin-left: 25px;
	margin-bottom: 25px;
	margin-top: 10px;
}

#tabelaEndereco{
	margin-bottom: 25px;
	
}

#endereco{
	width: 50px;
}
tr{
	background-color: #f1f1f1;
}
/*#tabelaTipoContato, #tabelaTelefone{
	background-color: #f1f1f1;
	
}*/